body { 
    margin:0;
    padding:0;
    background: url(visuclip.jpg) no-repeat center fixed; 
    background-size: cover; /* version standardisée */
    font-family: Roboto;
  }
h1{
    color: #E72929;
    font-family: Roboto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20vh;
    margin-left: 0px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: inline-block;
  }

.contenu{
    display: inline-block;
    top: 50%;
    width: 50%;
}

footer{
    background-color: black;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: Opx; 
    text-align: center;
}

footer p{
    color: #CFCFCF;
    
}

footer a{
    text-decoration: none;
    color: #CFCFCF;
}
