
body { 
    margin:0;
    padding:0;
    background: url(visuclip.jpg) no-repeat center fixed; 
    background-size: cover; /* version standardisée */
    font-family: Roboto;
  }

  h1{
    color: #E72929;
    font-family: Roboto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 580%;
    margin-left: 0px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

.contenu{
    position: absolute;
    top: 20%;
    left: 35%;
    margin-right: 40px;
}

img{
    box-shadow: 0px 10px 30px 10px rgba(231, 41, 41, 0.47);
    margin-bottom: 30px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.boutondecouv{
    width: 249px;
    margin-left: auto;
    margin-right : auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #E72929;
    border-radius: 60px;
    margin-bottom: 30px;
    text-align: center;
    vertical-align: middle;
}

.boutondecouv a{
    text-decoration: none;
    font-size: 36px;
    color: #FFFFFF;
}


footer{
    background-color: black;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: Opx; 
}

footer p{
    color: #CFCFCF;
    text-align: center;
    
}

footer a{
    text-decoration: none;
    color: #CFCFCF;
}
